@model IEnumerable<CreditApplication.Core.Domain.CreditResult>
@{
    ViewData["Title"] = "Сalculate";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Номер платежа</th>
            <th>Дата платежа</th>
            <th>Размер платежа по телу</th>
            <th>Размер платежа по %</th>
            <th>Остаток основного долга</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Number</td>
            <td>@item.PaymentDate.ToShortDateString()</td>
            <td>@item.PaymentBody.ToString("F2")</td>
            <td>@item.PaymentPercent.ToString("F2")</td>
            <td>@item.Debt.ToString("F2")</td>
        </tr>
        }
        <tr>
            <td colspan="5">Итого переплаты по кредиту: @Model.Sum(s => s.PaymentPercent).ToString("F2")</td>
        </tr>
    </tbody>

</table>


