@model CreditApplication.Models.Home.CalculateViewModel
@{
    ViewData["Title"] = "Сalculate";
    string info = Model.Credit.TermCredit == CreditApplication.Core.Domain.TermCredit.Day ? "дней." : "месяцев.";
}
    <h4>График платежей на @Model.Credit.TermText @info</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Номер платежа</th>
            <th>Дата платежа</th>
            <th>Размер платежа по телу</th>
            <th>Размер платежа по %</th>
            <th>Остаток основного долга</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CreditResults)
        {
        <tr>
            <td>@item.Number</td>
            <td>@item.PaymentDate.ToShortDateString()</td>
            <td>@item.PaymentBody.ToString("F2")</td>
            <td>@item.PaymentPercent.ToString("F2")</td>
            <td>@item.Debt.ToString("F2")</td>
        </tr>
        }
    <tr>
        <td colspan="2">Сумма: @Model.CreditResults.Sum(s => s.PaymentBody).ToString("F2")</td>
        <td colspan="3">Итого переплаты по кредиту: @Model.CreditResults.Sum(s => s.PaymentPercent).ToString("F2")</td>
    </tr>
    </tbody>

</table>


